@font-face {
  font-weight: 400;
  font-family: "Lato";
  src: url("../fonts/latoregular.ttf") format("ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Lato";
  src: url("../fonts/latobold.ttf") format("ttf");
}
